<div class="registro-wrapper">
  <div class="registro-container">
    <h2>Registro</h2>

    <input type="text" [(ngModel)]="username" placeholder="Nombre de usuario" />
    <p *ngIf="usernameError" class="error">{{ usernameError }}</p>

    <input type="password" [(ngModel)]="password" placeholder="Contraseña" />
    <p *ngIf="passwordError" class="error">{{ passwordError }}</p>

    <button (click)="register()">Registrarse</button>

    <p *ngIf="message" [ngClass]="{ 'error': !success, 'success': success }">{{ message }}</p>

    <p class="alternativa">
      ¿Ya tienes cuenta?
      <a routerLink="/login" class="link">Inicia sesión aquí</a>
    </p>
  </div>

  <!-- Logo al fondo después del formulario -->
  <div class="logo-fondo"></div>
</div>
