.inicio-container {
  text-align: center;
  color: white;
  padding: 2rem;
}

.botones button {
  margin: 1rem;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.destacado {
  background-color: #00aaff;
  color: white;
}

.ranking-text {
  font-size: 1.1rem;
  color: #fcd34d; // dorado
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    text-decoration: underline;
    color: #ffd700;
  }
}
